__pycache__
.DS_Store
*.egg-info
dist
examples/data
examples/results
examples/checkpoint
*.npy
build
*.h5
docs/build

*.jpg
*.png
*.jpeg
*.gif
*.pdf

# Jupyter Notebook checkpoints
.ipynb_checkpoints

